#most-popular-container{
    min-height: 200px;
    background-color: #2E3440;
    text-align: center;
}

#most-popular-container h2{
    background-color: #2E3440;
    margin: 0 ;
    padding: 4rem;
    color: #ECEFF4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

#popular-container{
    background-color: #ECEFF4;
    min-height: 300px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}