#most-popular-container{
    min-height: 200px;
    background-color: #2E3440;
}

#most-popular-container h2{
    background-color: #2E3440;
    margin: 0 ;
    padding: 4rem;
    color: #ECEFF4;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

#popular-container{
    background-color: #ECEFF4;
    min-height: 300px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}