#personal-tab{
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: calc(100vh - 220px)
}

#profile-guide-img{
    width: 150px;
    height: 125px;
    margin: 2rem auto;
    object-fit: cover;
    object-position: center;
}

#personal-info{
    display: flex;
    flex-direction: column;
    width: 700px;
    max-width: 90vw;
    margin: 0 auto;
    align-items: center;
}