.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  font-family: Rubik;
}


.background{
  position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}



.App-header {
  background-color: #2E3440;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


